@font-face {
  font-family: 'Poppins-ExtraBold';
  src: url('../../public/Assets/Poppins-ExtraBold.eot');
  src: url('../../public/Assets/Poppins-ExtraBold.eot?#iefix') format('embedded-opentype'),
      url('../../public/Assets/Poppins-ExtraBold.woff2') format('woff2'),
      url('../../public/Assets/Poppins-ExtraBold.woff') format('woff'),
      url('../../public/Assets/Poppins-ExtraBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins-BoldItalic';
  src: url('../../public/Assets/Poppins-BoldItalic.eot');
  src: url('../../public/Assets/Poppins-BoldItalic.eot?#iefix') format('embedded-opentype'),
      url('../../public/Assets/Poppins-BoldItalic.woff2') format('woff2'),
      url('../../public/Assets/Poppins-BoldItalic.woff') format('woff'),
      url('../../public/Assets/Poppins-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins-Bold';
  src: url('../../public/Assets/Poppins-Bold.eot');
  src: url('../../public/Assets/Poppins-Bold.eot?#iefix') format('embedded-opentype'),
      url('../../public/Assets/Poppins-Bold.woff2') format('woff2'),
      url('../../public/Assets/Poppins-Bold.woff') format('woff'),
      url('../../public/Assets/Poppins-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins-ExtraBoldItalic';
  src: url('../../public/Assets/Poppins-ExtraBoldItalic.eot');
  src: url('../../public/Assets/Poppins-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
      url('../../public/Assets/Poppins-ExtraBoldItalic.woff2') format('woff2'),
      url('../../public/Assets/Poppins-ExtraBoldItalic.woff') format('woff'),
      url('../../public/Assets/Poppins-ExtraBoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins-ExtraLight';
  src: url('../../public/Assets/Poppins-ExtraLight.eot');
  src: url('../../public/Assets/Poppins-ExtraLight.eot?#iefix') format('embedded-opentype'),
      url('../../public/Assets/Poppins-ExtraLight.woff2') format('woff2'),
      url('../../public/Assets/Poppins-ExtraLight.woff') format('woff'),
      url('../../public/Assets/Poppins-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins-ExtraLightItalic';
  src: url('../../public/Assets/Poppins-ExtraLightItalic.eot');
  src: url('../../public/Assets/Poppins-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
      url('../../public/Assets/Poppins-ExtraLightItalic.woff2') format('woff2'),
      url('../../public/Assets/Poppins-ExtraLightItalic.woff') format('woff'),
      url('../../public/Assets/Poppins-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins-LightItalic';
  src: url('../../public/Assets/Poppins-LightItalic.eot');
  src: url('../../public/Assets/Poppins-LightItalic.eot?#iefix') format('embedded-opentype'),
      url('../../public/Assets/Poppins-LightItalic.woff2') format('woff2'),
      url('../../public/Assets/Poppins-LightItalic.woff') format('woff'),
      url('../../public/Assets/Poppins-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins-Light';
  src: url('../../public/Assets/Poppins-Light.eot');
  src: url('../../public/Assets/Poppins-Light.eot?#iefix') format('embedded-opentype'),
      url('../../public/Assets/Poppins-Light.woff2') format('woff2'),
      url('../../public/Assets/Poppins-Light.woff') format('woff'),
      url('../../public/Assets/Poppins-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins-Italic';
  src: url('../../public/Assets/Poppins-Italic.eot');
  src: url('../../public/Assets/Poppins-Italic.eot?#iefix') format('embedded-opentype'),
      url('../../public/Assets/Poppins-Italic.woff2') format('woff2'),
      url('../../public/Assets/Poppins-Italic.woff') format('woff'),
      url('../../public/Assets/Poppins-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins-SemiBold';
  src: url('../../public/Assets/Poppins-SemiBold.eot');
  src: url('../../public/Assets/Poppins-SemiBold.eot?#iefix') format('embedded-opentype'),
      url('../../public/Assets/Poppins-SemiBold.woff2') format('woff2'),
      url('../../public/Assets/Poppins-SemiBold.woff') format('woff'),
      url('../../public/Assets/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins-SemiBoldItalic';
  src: url('../../public/Assets/Poppins-SemiBoldItalic.eot');
  src: url('../../public/Assets/Poppins-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
      url('../../public/Assets/Poppins-SemiBoldItalic.woff2') format('woff2'),
      url('../../public/Assets/Poppins-SemiBoldItalic.woff') format('woff'),
      url('../../public/Assets/Poppins-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins-MediumItalic';
  src: url('../../public/Assets/Poppins-MediumItalic.eot');
  src: url('../../public/Assets/Poppins-MediumItalic.eot?#iefix') format('embedded-opentype'),
      url('../../public/Assets/Poppins-MediumItalic.woff2') format('woff2'),
      url('../../public/Assets/Poppins-MediumItalic.woff') format('woff'),
      url('../../public/Assets/Poppins-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins-Regular';
  src: url('../../public/Assets/Poppins-Regular.eot');
  src: url('../../public/Assets/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
      url('../../public/Assets/Poppins-Regular.woff2') format('woff2'),
      url('../../public/Assets/Poppins-Regular.woff') format('woff'),
      url('../../public/Assets/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins-Medium';
  src: url('../../public/Assets/Poppins-Medium.eot');
  src: url('../../public/Assets/Poppins-Medium.eot?#iefix') format('embedded-opentype'),
      url('../../public/Assets/Poppins-Medium.woff2') format('woff2'),
      url('../../public/Assets/Poppins-Medium.woff') format('woff'),
      url('../../public/Assets/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins-Thin';
  src: url('../../public/Assets/Poppins-Thin.eot');
  src: url('../../public/Assets/Poppins-Thin.eot?#iefix') format('embedded-opentype'),
      url('../../public/Assets/Poppins-Thin.woff2') format('woff2'),
      url('../../public/Assets/Poppins-Thin.woff') format('woff'),
      url('../../public/Assets/Poppins-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins-ThinItalic';
  src: url('../../public/Assets/Poppins-ThinItalic.eot');
  src: url('../../public/Assets/Poppins-ThinItalic.eot?#iefix') format('embedded-opentype'),
      url('../../public/Assets/Poppins-ThinItalic.woff2') format('woff2'),
      url('../../public/Assets/Poppins-ThinItalic.woff') format('woff'),
      url('../../public/Assets/Poppins-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins-BlackItalic';
  src: url('../../public/Assets/Poppins-BlackItalic.eot');
  src: url('../../public/Assets/Poppins-BlackItalic.eot?#iefix') format('embedded-opentype'),
      url('../../public/Assets/Poppins-BlackItalic.woff2') format('woff2'),
      url('../../public/Assets/Poppins-BlackItalic.woff') format('woff'),
      url('../../public/Assets/Poppins-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins-Black';
  src: url('../../public/Assets/Poppins-Black.eot');
  src: url('../../public/Assets/Poppins-Black.eot?#iefix') format('embedded-opentype'),
      url('../../public/Assets/Poppins-Black.woff2') format('woff2'),
      url('../../public/Assets/Poppins-Black.woff') format('woff'),
      url('../../public/Assets/Poppins-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
.css-mhc70k-MuiGrid-root > .MuiGrid-item {
  padding-top: 0 !important;
}
body {
  margin: 0 !important;
  padding: 0 !important;
}
.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root.Mui-checked, .css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root.MuiCheckbox-indeterminate{
  color:"#635bff";
}
 
